<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <h2>Category List</h2>

    <table border="1">

        <tr>
            <th>ID</th>
            <th>Category Name</th>
        </tr>

    </table>

    <br>

    <a th:href="@{/dashboard}">Back to Dashboard</a>

</div>

<script th:src="@{/js/script.js}"></script>

</body>
</html>